<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Custom CSS -->
    <link href="stylesheet/application.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
                     <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#nosotros">NOSOTROS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#servicios">SERVICIOS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#regiones">REGIONES</a>
                    </li>
                    <li>
                 <a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a>        
                    </li>
                    <li>
                        <a class="page-scroll" href="#eventos">EVENTOS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contactenos">CONTACTENOS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">ADMIN</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
<ol class="carousel-indicators">
 <li data-target="#intro" data-slide-to="0" class="active"></li>
 <li data-target="#intro" data-slide-to="1"></li>
 <li data-target="#intro" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
 <div class="item active">
 <%= image_tag("bg.jpg") %>
 <div class="carousel-caption">
                    <h1>Costa Rica</h1>
                    <%= image_tag("hr.png") %>
                    <h2>There is Adventure <br> everywhere</h2>
                    <a class="btn btn-danger page-scroll" href="#about">Conocer más</a>
 </div>
 </div>
 <div class="item">
 <%= image_tag("bg2.jpg") %>
 <div class="carousel-caption">
  <h1>Costa Rica</h1>
                    <%= image_tag("hr.png") %>
                    <h2>Where Exhuberance <br> meets Elegance</h2>
                    <a class="btn btn-danger page-scroll" href="#about">Conocer más</a>
 </div>
 </div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#intro" role="button" data-slide="prev">
 <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#intro" role="button" data-slide="next">
 <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>

    </section>

    <!-- Nosotros Section -->
    <section id="nosotros" class="nosotros-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Sobre Nosotros</h3>
                    <%= image_tag("hr_line.png", class: "line") %>
                </div>
                <div class="row">
  <div class="col-sm-6 col-md-3">
    <div>
      <div class="caption">
        <h4>Explicación sobre <br>
los pilares de <br>
Global Event como <br>
lider del mercado</h4><br><br>
        <p><a href="#" class="btn btn-danger" role="button">Leer Más</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail-box">
      <div class="caption" style="padding-left: 15px; padding-right: 15px;"><br>
        <h3><%= image_tag("crea-icon.svg", width: '32', height: '32') %>  Creatividad</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis at, voluptatem similique tempora voluptate quia in ea minima earum consequatur eveniet, praesentium illum error delectus optio nobis eaque distinctio!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail-box">
      <div class="caption" style="padding-left: 15px; padding-right: 15px;"><br>
        <h3><%= image_tag("el-icon.svg", width: '32', height: '32') %>  Elegancia</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis at, voluptatem similique tempora voluptate quia in ea minima earum consequatur eveniet, praesentium illum error delectus optio nobis eaque distinctio!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail-box">
      <div class="caption" style="padding-left: 15px; padding-right: 15px;"><br>
        <h3><%= image_tag("prof-icon.svg", width: '30', height: '30') %>Profesionalismo</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis at, voluptatem similique tempora voluptate quia in ea minima earum consequatur eveniet, praesentium illum error delectus optio nobis eaque distinctio!</p>
      </div>
    </div>
  </div>
</div>
            </div>
        </div>
    </section>

    <!-- Servicios Section -->
    <section id="servicios" class="servicios-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Filosofía</h1>
                    <hr></hr>
                    <h5>Nuestra forma de pensar es única, y nos encargamos de plasmarlo en nuestros eventos.</h5><br><br>
                    
                    <blockquote>Hay personas que hacen su trabajo y lo hacen bien y son eficientes.  Pero hay personas que hacen bien su trabajo y al mismo tiempo inyectan una dosis de profesionalismo, pasión, alegría, servicio al cliente, calidad, etc. Todos estos valores agregados son los que uno recibe de Global Events, particularmente de su lado donde son realmente especiales. Quiero también tomar esta oportunidad para expresar mi agradecimiento y aprecio a Marianella por un gran trabajo realizado. Puede estar seguros que fue un placer para nosotros trabajar con ustedes, ustedes son un verdadero equipo de éxito. Muchas gracias
<cite>Priscilla Araya Barquero - BN</cite></blockquote>
                </div>
            </div>
        </div>
    </section>
<section class="servicios2-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2><%= image_tag("locations.png") %> 50+ </h2>
                    <h6>Locaciones</h3>
                </div>
                <div class="col-md-3">
                     <h2><%= image_tag("events.png") %> 200</h2>
                    <h6>Planes de Eventos</h6>
                </div>
                <div class="col-md-3">
                     <h2><%= image_tag("guests.png") %> 5632</h2>
                    <h6>Huespedes</h6>
                </div>
                <div class="col-md-3">
                     <h2><%= image_tag("contries.png") %> 10+</h2>
                    <h6>Paises</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- Regiones Section -->
    <section id="regiones" class="regiones-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <h7>Regiones Costa Rica</h7><br>
                    <%= image_tag("hr_line.png", class: "line") %><br>
                    <h8>Costa Rica es el antídoto ideal para liberar el estrés, para encontrar el equilibrio de la hospitalidad en instalaciones de primera clase . Damos la bienvenida a los visitantes con calidez genuina y cortesía reconocida. Hoteles y resorts de alta calidad, dos aeropuertos internacionales atendiendo más de 60 vuelos procedentes de América y Europa, instalaciones comerciales y deportivas de primer mundo en un contexto impresionante y muy diversa belleza natural que nos hacen el destino actual de elección. Imagine un país sin fuerzas armadas, un historial envidiable en el cuidado de la salud y la educación, una democracia sólida y un cuarto de su territorio protegido como reservas naturales o parques nacionales . Esto es Costa Rica. ¡Disfrute!</h8>
                </div>
                <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("norte.jpg", width: '370') %>
      <div class="caption">
        <h3>Pacífico Norte</h3>
        <p style="text-align: left;">La provincia de Guanacaste está llena de naturaleza, aventura, folclore y muchas otras atracciones , con un sin fin de opciones para la recreación , hay un sin número de razones por las que todos quieren viajar a Guanacaste y alojarse en uno de sus exclusivos resorts.
</p>
        <p><a href="#" class="btn btn-danger" role="button">Leer más</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("webjpg-43.jpg", width: '370') %>
      <div class="caption">
        <h3>Pacífico Central</h3>
        <p style="text-align: left;">Podríamos decir que es uno de los destinos turísticos más populares en Costa Rica. La región del Pacífico Central del país también es el más accesible. Sólo 1 hora y 15 minutos de San José, esta zona es conocida por sus hermosas playas, pueblos costeros turísticos, fantásticas oportunidades para el surf, y una biodiversidad inimaginable para los amantes de la naturaleza. Ofrece a los visitantes la oportunidad de disfrutar diferentes actividades, como pesca y tirolesa, la aventura de caminar en los Parques Nacionales Carara o Manuel Antonio, donde la fauna emerge y da un gran espectáculo a nuestros invitados.
</p>
        <p><a href="#" class="btn btn-danger" role="button">Leer más</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("central.jpg", width: '370') %>
      <div class="caption">
        <h3>Valle Central</h3>
        <p style="text-align: left;">El Valle Central es una región del centro de Costa Rica. La tierra en el valle es relativamente plana, a pesar de estar rodeada por varias montañas y volcanes. Con un sinfín de opciones para la recreación, hay un sinnúmero de razones por las que todo el mundo quiere viajar a San José y estar en uno de sus exclusivos hoteles.
</p>
        <p><a href="#" class="btn btn-danger" role="button">Leer más</a></p>
      </div>
    </div>
  </div>
</div>
            </div>
        </div>
    </section>
     <!-- Eventos Section -->
    <section id="eventos" class="eventos-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>EVENTOS</h1>
                </div>
                <div class="row">
            <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event1.jpg", width: '200') %>
                </a>
            </div>
            <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event2.jpg", width: '200') %>
                </a>
            </div>
            <div class="col-md-2 portfolio-item">
                <a href="#">
                   <%= image_tag("event3.jpg", width: '200') %>
                </a>
            </div>
            <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event4.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-md-2 portfolio-item">
                <a href="#">
                   <%= image_tag("event5.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event6.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event7.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event8.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event9.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event10.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event11.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-md-2 portfolio-item">
                <a href="#">
                    <%= image_tag("event12.jpg", width: '200') %>
                </a>
            </div>

        </div>
            </div>
        </div>
    </section>
     <!-- Contactenos Section -->
    <section id="contactenos" class="contactenos-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Contactenos</h3>
                    <%= image_tag("hr_line.png", class: "line") %><br>
                    <h8>Favor decirnos que podemos hacer por usted y como ayudarlos.</h8>
                </div>
                <div class="row">
  <div class="col-md-4" style="padding-top: 20px;">
<%= image_tag("pin.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">Boulevard Rohrmosser, <br>
Pavas, San José, <br>
Costa Rica</p>

<%= image_tag("mail.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">contactus@globaleventsdmc.com<br>aaguilar@globaleventsdmc.com</p>
<%= image_tag("phone.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">Phone: + (506) 2291-8173</p>
  </div>
  <div class="col-md-8">
    <form class="form-inline">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
  </div>
  <div class="form-group">
    <label for="lastName">Apellido</label>
    <input type="text" class="form-control" id="lastName" placeholder="Ingrese su apellido">
  </div>
  <div class="form-group">
    <label for="lastName">Empresa</label>
    <input type="text" class="form-control" id="company" placeholder="Nombre de la empresa">
  </div>
  <div class="form-group">
    <label for="lastName">Puesto</label>
    <input type="text" class="form-control" id="position" placeholder="Puesto en la empresa">
  </div>
  <div class="form-group">
    <label for="lastName">Teléfono</label>
    <input type="text" class="form-control" id="position" placeholder="Número de teléfono">
  </div>
   <div class="form-group">
    <label for="name">E-mail</label>
    <input type="text" class="form-control" id="name" placeholder="Dirección de Correo">
  </div>
</form>
<form>
 
  <div class="form-group">
    <label for="name">Asunto</label>
    <input type="text" class="form-control" id="name" placeholder="Favor indicar el asunto">
  </div>
   <div class="form-group">
    <label for="name">Comentarios</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form></div>
</div>
            </div>
        </div>
    </section>
    <section>
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe
  width="100%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBASvPxI7KyxyLBM9xQqCdviLlYr9Ep-_g
    &q=9.953818, -84.125569">
</iframe>

</section>
<section class="footer-section">
<a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a></section>



    <!-- Scrolling Nav JavaScript -->
    <script src="javascripts/application.js"></script>


</body>

</html>
