    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-non-responsive">
                     <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav">
                  <a style="margin-right: 10px;"><%= link_to image_tag("in.svg", :alt => "Brand", :width => 30), "https://www.linkedin.com/company/global-events-dmc", :target => "_blank" %></a>
<a style="margin-left: 10px;"><%= link_to image_tag("fb.svg", :alt => "Brand", :width => 30), "https://www.facebook.com/pages/Global-Events-DMC/764542110267778", :target => "_blank" %></a>
<a style="margin-left: 10px;"><%= link_to image_tag("Spain.png", :alt => "Brand", :width => 30), root_path(locale: 'es'), data: { no_turbolink: true } %></a>
<a style="margin-left: 10px;"><%= link_to image_tag("United-States.png", :alt => "Brand", :width => 30), root_path(locale: 'en'), data: { no_turbolink: true } %></a>

                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <%= link_to t('home'), root_path, :class => "page-scroll" %>
                    </li>
                    <li>
                        <%= link_to t('about_us'), root_path(:anchor => "nosotros"), :class => "page-scroll" %>
                    </li>
                    <li>
                        <%= link_to t('testimonials'), root_path(:anchor => "servicios"), :class => "page-scroll" %>
                    </li>
                    <li>
                 <a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a>        
                    </li>
                    <li>
                        <%= link_to t('regions'), root_path(:anchor => "regiones"), :class => "page-scroll" %>
                    </li>
                    <li>
                        <%= link_to t('services'), root_path(:anchor => "eventos"), :class => "page-scroll" %>
                    </li>
                    <li>
                        <%= link_to t('contact_us'), root_path(:anchor => "contactenos"), :class => "page-scroll" %>
                    </li>
                </ul>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
<ol class="carousel-indicators">
 <li data-target="#intro" data-slide-to="0" class="active"></li>
 <li data-target="#intro" data-slide-to="1"></li>
 <li data-target="#intro" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
 <div class="item active">
 <%= image_tag("bg.jpg") %>
 <div class="carousel-caption">
                    <h1>Costa Rica</h1>
                    <%= image_tag("hr.png") %>
                    <h2><%= t('slide_1') %><br> <%= t('slide_1_br') %></h2>
 </div>
 </div>
 <div class="item">
 <%= image_tag("bg2.jpg") %>
 <div class="carousel-caption">
  <h1>Costa Rica</h1>
                    <%= image_tag("hr.png") %>
                    <h2><%= t('slide_2') %><br> <%= t('slide_2_br') %></h2>
 </div>
 </div>
 <div class="item">
 <%= image_tag("bg3.jpg") %>
 <div class="carousel-caption">
  <h1>Costa Rica</h1>
                    <%= image_tag("hr.png") %>
                    <h2><%= t('slide_3') %><br> <%= t('slide_3_br') %></h2>
 </div>
 </div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#intro" role="button" data-slide="prev">
 <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#intro" role="button" data-slide="next">
 <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>

    </section>

    <!-- Nosotros Section -->
    <section id="nosotros" class="nosotros-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3><%= t('about_us_h3') %> </h3>
                    <%= image_tag("hr_line.png", class: "line") %>
                </div>
                <div class="row">
  <div class="col-xs-3">
    <div>
      <div class="caption">
        <h4><%= t('about_us_caption1') %><br>
<%= t('about_us_caption2') %><br>
<%= t('about_us_caption3') %></h4><br><br><br>
        <p><a href="#servicios" class="btn btn-danger" role="button"><%= t('read_more') %></a></p><br>
      </div>
    </div>
  </div>
  <div >
   <p style="font-size: 15px; text-align: justify"><%= t('about_us_p1') %><br><br><%= t('about_us_p2') %>
</p> 
</div>
            </div>
        </div>
        <p style="text-align: right; margin-top: 30px; font-size: 16px;"><%= image_tag("mail.svg", width: '20px') %> <b>contactus@globaleventsdmc.com <b><%= image_tag("phone.svg", width: '20px') %><b><%=t('phone')%>: + (506) 2291-8173<b></p>
    </section>

    <!-- Servicios Section -->
    <section id="servicios" class="servicios-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1><%= t('servicios_h1') %></h1>
                    <hr></hr>
                    <h5><%= t('servicios_h5') %></h5><br><br>
                    <div id="testimonios" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators" style="bottom: -30px;">
 <li data-target="#testimonios" data-slide-to="0" class="active"></li>
 <li data-target="#testimonios" data-slide-to="1"></li>
</ol>
<div class="carousel-inner">
 <div class="item active">
  <blockquote>"<%= t('servicios_quote1') %>"
<cite><%= t('servicios_cite1') %></cite></blockquote> 
 </div>
 <div class="item">
  <blockquote>"<%= t('servicios_quote2') %>"
<cite><%= t('servicios_cite2') %></cite></blockquote> 
 </div>
</div>
                </div>
            </div>

        </div>
        <p style="text-align: right; margin-top: 30px; font-size: 16px;"><%= image_tag("mail.svg", width: '20px') %> <b>contactus@globaleventsdmc.com <b><%= image_tag("phone.svg", width: '20px') %><b><%=t('phone')%>: + (506) 2291-8173<b></p>
    </section>
    <!-- Regiones Section -->
    <section id="regiones" class="regiones-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                   <h7><%= t('regiones_h7') %></h7><br>
                    <%= image_tag("hr_line.png", class: "line") %><br>
                    <h8 style="text-align: justify;"><%= t('regiones_p1') %></h8>
                </div>
                <div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <%= image_tag("norte.jpg", width: '370') %>
      <div class="caption">
        <h3><%= t('norte_h1') %></h3>
        <p style="text-align: justify;"><%= t('norte_p1') %></p>
        <p><%= link_to t('read_more'), pages_regiones_path(:anchor => "norte"), :class => "btn btn-danger", :role => "button" %></p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="thumbnail">
      <%= image_tag("webjpg-43.jpg", width: '370') %>
      <div class="caption">
        <h3><%= t('central_h1') %></h3>
        <p style="text-align: justify;"><%= t('central_p1') %>
</p>
        <p><%= link_to t('read_more'), pages_regiones_path(:anchor => "central"), :class => "btn btn-danger", :role => "button" %></p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="thumbnail">
      <%= image_tag("central.jpg", width: '370') %>
      <div class="caption">
        <h3><%= t('valley_h1') %></h3>
        <p style="text-align: justify;"><%= t('valley_p1') %>
</p>
        <p><%= link_to t('read_more'), pages_regiones_path(:anchor => "valle"), :class => "btn btn-danger", :role => "button" %></p>
      </div>
    </div>
  </div>
</div>
            </div>
             <p style="text-align: right; margin-top: 30px; font-size: 16px;"><%= image_tag("mail.svg", width: '20px') %> <b>contactus@globaleventsdmc.com <b><%= image_tag("phone.svg", width: '20px') %><b><%=t('phone')%>: + (506) 2291-8173<b></p>
        </div>
        
    </section>
     <!-- Eventos Section -->
    <section id="eventos" class="eventos-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                   <h1><%= t('services_h1') %></h1>
                </div>
                <div class="row">
  <div class="col-xs-3">
    <div>
      <div class="caption">
         <h3><%= t('services_p1') %></h3>
                    <%= image_tag("hr_line.png", class: "line") %>

                    <h5 style="text-align: left; align: justify;"><%= t('services_p2') %><br><br>
<strong><%= t('services_p3') %></strong><br>
<%= t('services_p4') %><br>

<%= t('services_p5') %><br>

<%= t('services_p6') %><br>

<%= t('services_p7') %><br>

<%= t('services_p8') %><br>

<%= t('services_p9') %><br>

<%= t('services_p10') %><br>

<%= t('services_p11') %><br>

<%= t('services_p12') %><br>

<%= t('services_p13') %></h5>
       
      </div>
    </div>
  </div>
  <div >
    <div class="row" style="margin-top: 100px;">
            <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event1.jpg", width: '200') %>
                </a>
            </div>
            <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event2.jpg", width: '200') %>
                </a>
            </div>
            <div class="col-xs-2 portfolio-item">
                <a>
                   <%= image_tag("event3.jpg", width: '200') %>
                </a>
            </div>
            <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event4.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-xs-2 portfolio-item">
                <a>
                   <%= image_tag("event5.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event6.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event7.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event8.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event9.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event10.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event11.jpg", width: '200') %>
                </a>
            </div>
             <div class="col-xs-2 portfolio-item">
                <a>
                    <%= image_tag("event12.jpg", width: '200') %>
                </a>
            </div>
             <%= link_to t('gallery_1'), pages_servicios_path, :class => "btn btn-default", :role => "button", :style => "margin-top:20px;" %>
</div>
            </div>
        </div> 
              
            


        </div>
          <p style="text-align: right; margin-top: 30px; font-size: 16px;"><%= image_tag("mail.svg", width: '20px') %> <b>contactus@globaleventsdmc.com <b><%= image_tag("phone.svg", width: '20px') %><b><%=t('phone')%>: + (506) 2291-8173<b></p>
            </div>

        </div>
        
    </section>
 <!-- Scrolling Nav JavaScript -->
    <script src="javascripts/application.js"></script>
<script>
$(document).ready(function(){
$('.carousel').carousel({
interval: 10000
 });
});
</script>