    <!-- Navigation -->
     <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-non-responsive">
                     <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav">
                  <a style="margin-right: 10px;"><%= link_to image_tag("in.svg", :alt => "Brand", :width => 30), "https://www.linkedin.com/company/global-events-dmc", :target => "_blank" %></a>
<a style="margin-left: 10px;"><%= link_to image_tag("fb.svg", :alt => "Brand", :width => 30), "https://www.facebook.com/pages/Global-Events-DMC/764542110267778", :target => "_blank" %></a>
<a style="margin-left: 10px;"><%= link_to image_tag("Spain.png", :alt => "Brand", :width => 30), root_path(locale: 'es') %></a>
<a style="margin-left: 10px;"><%= link_to image_tag("United-States.png", :alt => "Brand", :width => 30), root_path(locale: 'en') %></a>
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <%= link_to t('home'), root_path, :class =>"page-scroll" %>
                    </li>
                    <li>
                        <%= link_to t('about_us'), root_path(:anchor => "nosotros"), :class =>"page-scroll" %>
                    </li>
                    <li>
                        <%= link_to t('testimonials'), root_path(:anchor => "servicios"), :class =>"page-scroll" %>
                    </li>
                    <li>
                 <a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a>        
                    </li>
                    <li>
                        <%= link_to t('services'), root_path(:anchor => "regiones"), :class =>"page-scroll" %>
                    </li>
                    <li>
                        <%= link_to t('regions'), root_path(:anchor => "eventos"), :class =>"page-scroll" %>
                    </li>
                    <li>
                        <%= link_to t('contact_us'), root_path(:anchor => "contactenos"), :class =>"page-scroll" %>
                    </li>
                </ul>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-non-responsive -->
    </nav>


    <!-- Decoracion Section -->
    <section id="norte" class="norte-section">
    	<div class="container-non-responsive">
    		 <h1><%= t('norte_h1') %></h1>
                    <hr></hr>
                    <p style="color: white;"><%= t('norte_p1') %></p>
  <div class="col-xs-2">
    <div class="thumbnail">
      <%= image_tag("lasmareas.jpg", width: '370') %>
      <div class="caption">
       <a href="#lasmareas" class="btn btn-danger">
  <%= t('read_more') %>
</a>

      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="thumbnail">
      <%= image_tag("andaz.png", width: '370') %>
      <div class="caption">
        <a href="#andaz" class="btn btn-danger">
  <%= t('read_more') %>
</a>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="thumbnail">
      <%= image_tag("seasonlogo.jpg", width: '370') %>
      <div class="caption">
       <a href="#seasons" class="btn btn-danger">
  <%= t('read_more') %>
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-2">
    <div class="thumbnail">
      <%= image_tag("westinlogo.png", width: '370') %>
      <div class="caption">
         <a href="#westin" class="btn btn-danger">
  <%= t('read_more') %>
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-2">
    <div class="thumbnail">
      <%= image_tag("jwlogo.jpg", width: '370') %>
      <div class="caption">
       <a href="#jw" class="btn btn-danger">
  <%= t('read_more') %>
</a>
      </div>
    </div>
  </div>   
  <a style="margin-top: 100px;" href="#central" class="btn btn-default" role="button"><%= t('view_central') %></a>
   <a style="margin-top: 20px;" href="#valle" class="btn btn-default" role="button"><%= t('view_valley') %></a>
 </div>



    </section>
 <!-- Las Mareas Section -->
    <section id="lasmareas" class="lasmareas-section">
      <div class="container-non-responsive">
    		 <h7>Dreams Las Mareas</h7>
                    <hr></hr>
                   <div class="col-xs-4">
                   	<%= image_tag("lasmareas.svg", :alt => "Brand", :width => 240) %><br>
  	 <p><br><%= t('dreams_p1') %></p>
  </div>
   <div class="col-xs-8">
   	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("lamarea1.jpg", :alt => "Brand", :width => 900) %>
    </div>
    <div class="item">
     <%= image_tag("lamarea2.jpg", :alt => "Brand", :width => 900) %>
  </div>
  <div class="item">
     <%= image_tag("lamarea3.jpg", :alt => "Brand", :width => 900) %>
  </div>
  <div class="item">
     <%= image_tag("lamarea4.jpg", :alt => "Brand", :width => 900) %>
  </div>
  <div class="item">
     <%= image_tag("lamarea6.jpg", :alt => "Brand", :width => 900) %>
  </div>
  <div class="item">
     <%= image_tag("lamarea7.jpg", :alt => "Brand", :width => 900) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
   <a style="margin-top: 100px;"href="#andaz" class="btn btn-danger" role="button"><%= t('read_more') %></a>
    </section>

     <!-- Andaz Section -->
    <section id="andaz" class="andaz-section">
      <div class="container-non-responsive">
    		 <h7>Andaz Peninsula Papagayo Resort</h7>
                    <hr></hr>
                   <div class="col-xs-4">
                   	<%= image_tag("andaz.png", :alt => "Brand", :width => 240) %><br>
  	 <p><br><%= t('andaz_p1') %>
</p>
  </div>
   <div class="col-xs-8">
   	<div id="carousel-andaz" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-andaz" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-andaz" data-slide-to="1"></li>
    <li data-target="#carousel-andaz" data-slide-to="2"></li>
    <li data-target="#carousel-andaz" data-slide-to="3"></li>
    <li data-target="#carousel-andaz" data-slide-to="4"></li>
    <li data-target="#carousel-andaz" data-slide-to="6"></li>
    <li data-target="#carousel-andaz" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("andaz1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("andaz2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("andaz3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("andaz4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("andaz6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("andaz7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-andaz" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-andaz" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
   <a style="margin-top: 60px;"href="#seasons" class="btn btn-danger" role="button"><%= t('read_more') %></a>
    </section>

    <!-- Seasons Section -->
    <section id="seasons" class="seasons-section">
      <div class="container-non-responsive">
    		 <h7>Four Seasons</h7>
                    <hr></hr>
                   <div class="col-xs-4">
                   	<%= image_tag("seasonlogo.jpg", :alt => "Brand", :width => 240) %><br>
  	 <p><br><%= t('four_p1') %>
</p>
  </div>
   <div class="col-xs-8">
   	<div id="carousel-seasons" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-seasons" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-seasons" data-slide-to="1"></li>
    <li data-target="#carousel-seasons" data-slide-to="2"></li>
    <li data-target="#carousel-seasons" data-slide-to="3"></li>
    <li data-target="#carousel-seasons" data-slide-to="4"></li>
    <li data-target="#carousel-seasons" data-slide-to="5"></li>
    <li data-target="#carousel-seasons" data-slide-to="6"></li>
    <li data-target="#carousel-seasons" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("seasons1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("seasons2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-seasons" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-seasons" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    <a style="margin-top: 30px;"href="#westin" class="btn btn-danger" role="button"><%= t('read_more') %></a>
    </section>

      <!-- Westin Section -->
    <section id="westin" class="westin-section">
      <div class="container-non-responsive">
         <h7>The Westin Golf Resort & Spa, Playa Conchal</h7>
                    <hr></hr>
                   <div class="col-xs-4">
                    <%= image_tag("westinlogo.png", :alt => "Brand", :width => 240) %><br>
     <p><br><%= t('westin_p1') %>
</p>
  </div>
   <div class="col-xs-8">
    <div id="carousel-westin" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-westin" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-westin" data-slide-to="1"></li>
    <li data-target="#carousel-westin" data-slide-to="2"></li>
    <li data-target="#carousel-westin" data-slide-to="3"></li>
    <li data-target="#carousel-westin" data-slide-to="4"></li>
    <li data-target="#carousel-westin" data-slide-to="5"></li>
    <li data-target="#carousel-westin" data-slide-to="6"></li>
    <li data-target="#carousel-westin" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("westin1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("westin2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-westin" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-westin" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    <a style="margin-top: 60px;"href="#jw" class="btn btn-danger" role="button"><%= t('read_more') %></a>
    </section>

    <!-- JW Section -->
    <section id="jw" class="jw-section">
      <div class="container-non-responsive">
         <h7>JW Marriott Guanacaste Resort & Spa</h7>
                    <hr></hr>
                   <div class="col-xs-4">
                    <%= image_tag("jwlogo.svg", :alt => "Brand", :width => 240) %><br>
     <p><br><%= t('jw_p1') %>
</p>
  </div>
   <div class="col-xs-8">
    <div id="carousel-jw" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-jw" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-jw" data-slide-to="1"></li>
    <li data-target="#carousel-jw" data-slide-to="2"></li>
    <li data-target="#carousel-jw" data-slide-to="4"></li>
    <li data-target="#carousel-jw" data-slide-to="5"></li>
    <li data-target="#carousel-jw" data-slide-to="6"></li>
    <li data-target="#carousel-jw" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("jw1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("jw2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("jw4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("jw5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("jw6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("jw7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-jw" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-jw" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    <a style="margin-top: 60px;"href="#central" class="btn btn-danger" role="button"><%= t('read_more') %></a>
    </section>

    <!-- Dine Around Section -->
    <section id="central" class="central-section">
      <div class="container-non-responsive">
    		 <h1><%= t('central_h1') %></h1>
                    <hr></hr>
                    <p style="color: white;"><%= t('central_p1') %></p>
   <div class="col-xs-2">
  </div>
  <div class="col-xs-2">
  </div>
  <div class="col-xs-2">
    <div class="thumbnail">
      <%= image_tag("marriottlogo.jpg", width: '370') %>
      <div class="caption">
              <a href="#lossuenos" class="btn btn-danger">
  <%= t('read_more') %>
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-2">
     <a style="margin-top: 100px;" href="#norte" class="btn btn-default" role="button"><%= t('view_pacific') %></a>
   <a style="margin-top: 20px;" href="#valle" class="btn btn-default" role="button"><%= t('view_valley') %></a>
  </div>
   <div class="col-xs-2">
  </div>
    <div class="col-xs-2">
  </div>
  </div>
 
</div> 

    </section>

    <!-- Suenos Section -->
    <section id="lossuenos" class="lossuenos-section">
      <div class="container-non-responsive">
         <h7>Los Sueños Marriott Ocean & Golf Resort</h7>
                    <hr></hr>
                   <div class="col-xs-4">
                    <%= image_tag("marriottlogo.jpg", :alt => "Brand", :width => 240) %><br>
     <p><br><%= t('suenos_p1') %>
</p>
  </div>
   <div class="col-xs-8">
    <div id="carousel-lossuenos" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-lossuenos" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="1"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="2"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="4"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="5"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="6"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("lossuenos1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("lossuenos2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("lossuenos4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("lossuenos5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("lossuenos6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("lossuenos7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-lossuenos" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-lossuenos" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    <a style="margin-top: 60px;"href="#valle" class="btn btn-danger" role="button"><%= t('read_more') %></a>
    </section>
     <!-- Entertainment Section -->
    <section id="valle" class="valle-section">
      <div class="container-non-responsive">
    		 <h1><%= t('valley_h1') %></h1>
                    <hr></hr>
                    <p style="color: white;"><%= t('valley_p1') %></p>
  <div class="col-xs-2">
  </div>
  <div class="col-xs-2">
  </div>
  <div class="col-xs-2">
    <div class="thumbnail">
      <%= image_tag("marlogo.jpg", width: '370') %>
      <div class="caption">
              <a href="#marriott" class="btn btn-danger">
  <%= t('read_more') %>
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-2">
    <div class="thumbnail">
      <%= image_tag("interlogo.jpg", width: '370') %>
      <div class="caption">
        <a href="#inter" class="btn btn-danger">
  <%= t('read_more') %>
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-2">
     <a style="margin-top: 100px;" href="#norte" class="btn btn-default" role="button"><%= t('view_pacific') %></a>
   <a style="margin-top: 20px;" href="#central" class="btn btn-default" role="button"><%= t('view_central') %></a>
  </div>
    <div class="col-xs-2">
  </div>
</div>   
    </section>

    <!-- Marriott Section -->
    <section id="marriott" class="marriott-section">
      <div class="container-non-responsive">
         <h7>Costa Rica Marriott</h7>
                    <hr></hr>
                   <div class="col-xs-4">
                    <%= image_tag("marlogo.jpg", :alt => "Brand", :width => 240) %><br>
     <p><br><%= t('marriot_p1') %>
</p>
  </div>
   <div class="col-xs-8">
    <div id="carousel-marriott" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-marriott" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-marriott" data-slide-to="1"></li>
    <li data-target="#carousel-marriott" data-slide-to="2"></li>
     <li data-target="#carousel-marriott" data-slide-to="3"></li>
    <li data-target="#carousel-marriott" data-slide-to="4"></li>
    <li data-target="#carousel-marriott" data-slide-to="5"></li>
    <li data-target="#carousel-marriott" data-slide-to="6"></li>
    <li data-target="#carousel-marriott" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("marriott1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("marriott2.jpg", :alt => "Brand", :width => 700) %>
  </div>
   <div class="item">
     <%= image_tag("marriott3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("marriott4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("marriott5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("marriott6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("marriott7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-marriott" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-marriott" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    <a style="margin-top: 60px;"href="#inter" class="btn btn-danger" role="button"><%= t('read_more') %></a>
    </section>
    <!-- Inter Section -->
    <section id="inter" class="inter-section">
      <div class="container-non-responsive">
         <h7>Intercontinental</h7>
                    <hr></hr>
                   <div class="col-xs-4">
                    <%= image_tag("interlogo.jpg", :alt => "Brand", :width => 240) %><br>
     <p><br><%= t('inter_p1') %>
</p>
  </div>
   <div class="col-xs-8">
    <div id="carousel-inter" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-inter" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-inter" data-slide-to="1"></li>
    <li data-target="#carousel-inter" data-slide-to="2"></li>
    <li data-target="#carousel-inter" data-slide-to="4"></li>
    <li data-target="#carousel-inter" data-slide-to="5"></li>
    <li data-target="#carousel-inter" data-slide-to="6"></li>
    <li data-target="#carousel-inter" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("inter1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("inter2.jpg", :alt => "Brand", :width => 700) %>
  </div>
   <div class="item">
     <%= image_tag("inter3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("inter4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("inter5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("inter6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("inter7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-inter" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-inter" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>


    <!-- Scrolling Nav JavaScript -->
    <script src="javascripts/application.js"></script>
<script>
$(document).ready(function(){
$('.carousel').carousel({
interval: 10000
 });
});
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="javascripts/bootstrap-image-gallery.min.js"></script>

