<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Custom CSS -->
    <link href="stylesheet/application.css" rel="stylesheet">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
                     <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#nosotros">ABOUT US</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#servicios">TESTIMONIALS</a>
                    </li>
                    <li>
                 <a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a>        
                    </li>
                    <li>
                        <a class="page-scroll" href="/#regiones">REGIONS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#eventos">SERVICES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contactenos">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Decoracion Section -->
    <section id="norte" class="norte-section">
    	<div class="container">
    		 <h1>North Pacific</h1>
                    <hr></hr>
                    <p style="color: white;">The province of Guanacaste is filled with nature, adventure, folklore and many other attractions, with endless options for recreation, there are countless reasons everyone wants to travel to Guanacaste and stay in one of their exclusive resorts.</p>
  <div class="col-xs-12 col-md-2">
    <div class="thumbnail">
      <%= image_tag("lasmareas.jpg", width: '370') %>
      <div class="caption">
       <a href="#lasmareas" class="btn btn-danger">
  Read More
</a>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="thumbnail">
      <%= image_tag("andaz.png", width: '370') %>
      <div class="caption">
        <a href="#andaz" class="btn btn-danger">
  Read More
</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="thumbnail">
      <%= image_tag("seasonlogo.jpg", width: '370') %>
      <div class="caption">
       <a href="#seasons" class="btn btn-danger">
  Read More
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-12 col-md-2">
    <div class="thumbnail">
      <%= image_tag("westinlogo.png", width: '370') %>
      <div class="caption">
         <a href="#westin" class="btn btn-danger">
  Read More
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-12 col-md-2">
    <div class="thumbnail">
      <%= image_tag("jwlogo.jpg", width: '370') %>
      <div class="caption">
       <a href="#jw" class="btn btn-danger">
  Read More
</a>
      </div>
    </div>
  </div>
</div>  
</div> 

    </section>
 <!-- Las Mareas Section -->
    <section id="lasmareas" class="lasmareas-section">
      <div class="container">
    		 <h7>Dreams Las Mareas</h7>
                    <hr></hr>
                   <div class="col-xs-12 col-md-4">
                   	<%= image_tag("lasmareas.svg", :alt => "Brand", :width => 240) %><br>
  	 <p><br>Dreams Las Mareas Costa Rica is the newest vibrant beach getaway for couples, families and singles to enjoy all the inclusions of an Unlimited-Luxury® escape in a privileged location. Located on golden sand beach and surrounded by lush green mountains and jungles on Playa El Jobo in the Guanacaste region of Costa Rica, guests of all ages enjoy an action–packed vacation featuring watersports, land activities, and swimming pools while sunbathing or laying under a thatched palapa.</p>
  </div>
   <div class="col-xs-12 col-md-8">
   	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("lamarea1.jpg", :alt => "Brand", :width => 900) %>
    </div>
    <div class="item">
     <%= image_tag("lamarea2.jpg", :alt => "Brand", :width => 900) %>
  </div>
  <div class="item">
     <%= image_tag("lamarea3.jpg", :alt => "Brand", :width => 900) %>
  </div>
  <div class="item">
     <%= image_tag("lamarea4.jpg", :alt => "Brand", :width => 900) %>
  </div>
  <div class="item">
     <%= image_tag("lamarea6.jpg", :alt => "Brand", :width => 900) %>
  </div>
  <div class="item">
     <%= image_tag("lamarea7.jpg", :alt => "Brand", :width => 900) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>

     <!-- Andaz Section -->
    <section id="andaz" class="andaz-section">
      <div class="container">
    		 <h7>Andaz Peninsula Papagayo Resort</h7>
                    <hr></hr>
                   <div class="col-xs-12 col-md-4">
                   	<%= image_tag("andaz.png", :alt => "Brand", :width => 240) %><br>
  	 <p><br>Nestled in a location that is second to none, where the Gulf of Papagayo meets the sapphire blue waters of Culebra Bay, Andaz Peninsula Papagayo Resort captures the native spirit of Costa Rica with its distinctive "Pura Vida" (pure life) philosophy. The breathtaking setting - a relaxing ocean with a mountainous background - will make you feel like you belong in this lush natural setting.
</p>
  </div>
   <div class="col-xs-12 col-md-8">
   	<div id="carousel-andaz" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-andaz" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-andaz" data-slide-to="1"></li>
    <li data-target="#carousel-andaz" data-slide-to="2"></li>
    <li data-target="#carousel-andaz" data-slide-to="3"></li>
    <li data-target="#carousel-andaz" data-slide-to="4"></li>
    <li data-target="#carousel-andaz" data-slide-to="6"></li>
    <li data-target="#carousel-andaz" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("andaz1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("andaz2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("andaz3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("andaz4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("andaz6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("andaz7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-andaz" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-andaz" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>

    <!-- Seasons Section -->
    <section id="seasons" class="seasons-section">
      <div class="container">
    		 <h7>Four Seasons</h7>
                    <hr></hr>
                   <div class="col-xs-12 col-md-4">
                   	<%= image_tag("seasonlogo.jpg", :alt => "Brand", :width => 240) %><br>
  	 <p><br>From exhilarating zip-line tours of the jungle canopy to tranquil days on sandy beaches, Peninsula Papagayo is a premier ecotourism destination. Nestled on a Pacific coast hillside and overlooking golden sand beaches, Four Seasons Resort Costa Rica at Peninsula Papagayo is your premier eco-adventure destination. Enjoy spacious accommodations alongside the beach, restaurants that make magnificent use of local ingredients, a full-service spa, and eco-adventures galore.
</p>
  </div>
   <div class="col-xs-12 col-md-8">
   	<div id="carousel-seasons" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-seasons" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-seasons" data-slide-to="1"></li>
    <li data-target="#carousel-seasons" data-slide-to="2"></li>
    <li data-target="#carousel-seasons" data-slide-to="3"></li>
    <li data-target="#carousel-seasons" data-slide-to="4"></li>
    <li data-target="#carousel-seasons" data-slide-to="5"></li>
    <li data-target="#carousel-seasons" data-slide-to="6"></li>
    <li data-target="#carousel-seasons" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("seasons1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("seasons2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("seasons7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-seasons" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-seasons" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>

      <!-- Westin Section -->
    <section id="westin" class="westin-section">
      <div class="container">
         <h7>The Westin Golf Resort & Spa, Playa Conchal</h7>
                    <hr></hr>
                   <div class="col-xs-12 col-md-4">
                    <%= image_tag("westinlogo.png", :alt => "Brand", :width => 240) %><br>
     <p><br>The Westin Golf Resort & Spa, Playa Conchal sits on Costa Rica's magnificent North-Pacific Riviera, nestled between lush forests and the sparkling azure waters of the Pacific Ocean. Is located on the stunning Playa Conchal beach, in the northeast portion of Costa Rica's Guanacaste Province. Known for gorgeous views of the Pacific Ocean, the pristine 4-kilometer Playa Conchal beach owes its name to its unique white sand. Here, the water of the sparkling Pacific is always at a comfortable temperature for swimming, snorkeling or surfing.
</p>
  </div>
   <div class="col-xs-12 col-md-8">
    <div id="carousel-westin" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-westin" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-westin" data-slide-to="1"></li>
    <li data-target="#carousel-westin" data-slide-to="2"></li>
    <li data-target="#carousel-westin" data-slide-to="3"></li>
    <li data-target="#carousel-westin" data-slide-to="4"></li>
    <li data-target="#carousel-westin" data-slide-to="5"></li>
    <li data-target="#carousel-westin" data-slide-to="6"></li>
    <li data-target="#carousel-westin" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("westin1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("westin2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("westin7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-westin" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-westin" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>

    <!-- JW Section -->
    <section id="jw" class="jw-section">
      <div class="container">
         <h7>JW Marriott Guanacaste Resort & Spa</h7>
                    <hr></hr>
                   <div class="col-xs-12 col-md-4">
                    <%= image_tag("jwlogo.svg", :alt => "Brand", :width => 240) %><br>
     <p><br>Live an authentic Costa Rican experience at the luxury hacienda-style JW Marriott Guanacaste Resort & Spa. Our resort sits oceanfront, surrounded by the splendors of rich Costa Rican biodiversity and next to a beautiful 18-hole golf course. This is the only luxury resort within 10 miles from the quaint surf-village of Tamarindo, where you will find laid-back restaurants and bars as well as charming stores. 
</p>
  </div>
   <div class="col-xs-12 col-md-8">
    <div id="carousel-jw" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-jw" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-jw" data-slide-to="1"></li>
    <li data-target="#carousel-jw" data-slide-to="2"></li>
    <li data-target="#carousel-jw" data-slide-to="4"></li>
    <li data-target="#carousel-jw" data-slide-to="5"></li>
    <li data-target="#carousel-jw" data-slide-to="6"></li>
    <li data-target="#carousel-jw" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("jw1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("jw2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("jw4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("jw5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("jw6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("jw7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-jw" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-jw" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>

    <!-- Dine Around Section -->
    <section id="central" class="central-section">
      <div class="container">
    		 <h1>Central Pacific</h1>
                    <hr></hr>
                    <p style="color: white;">We could say that is one of the most popular tourist destinations in Costa Rica. The Mid Pacific region of the country is also the most accessible. Only 1 hour and 15 minutes away from San Jose, this area is known for its beautiful beaches, coastal tourist towns, fantastic surfing opportunities, and an unimaginable biodiversity for nature lovers.  Offering visitors the opportunity to enjoy different activities including fishing and canopy tours, the adventure of walking at Carara National or Manuel Antonio National Parks, where wildlife emerges and gives a spectacular show to our guests.</p>
   <div class="col-xs-12 col-md-2">
  </div>
  <div class="col-xs-12 col-md-2">
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="thumbnail">
      <%= image_tag("marriottlogo.jpg", width: '370') %>
      <div class="caption">
              <a href="#lossuenos" class="btn btn-danger">
  Read More
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-12 col-md-2">
  </div>
   <div class="col-xs-12 col-md-2">
  </div>
    <div class="col-xs-12 col-md-2">
  </div>
  </div>
 
</div>  
    </section>

    <!-- Suenos Section -->
    <section id="lossuenos" class="lossuenos-section">
      <div class="container">
         <h7>Los Sueños Marriott Ocean & Golf Resort</h7>
                    <hr></hr>
                   <div class="col-xs-12 col-md-4">
                    <%= image_tag("marriottlogo.jpg", :alt => "Brand", :width => 240) %><br>
     <p><br>Discover the Los Sueños Marriott Ocean & Golf Resort, recognized by Travel & Leisure magazine as one of the "World's Best Hotels for Families." Nestled between the warm waters of the Pacific Ocean and a 1,100-acre tropical rainforest, our luxury Costa Rica resort features spacious guest rooms and suites with stunning views. 
</p>
  </div>
   <div class="col-xs-12 col-md-8">
    <div id="carousel-lossuenos" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-lossuenos" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="1"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="2"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="4"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="5"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="6"></li>
    <li data-target="#carousel-lossuenos" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("lossuenos1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("lossuenos2.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("lossuenos4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("lossuenos5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("lossuenos6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("lossuenos7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-lossuenos" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-lossuenos" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>
     <!-- Entertainment Section -->
    <section id="valle" class="valle-section">
      <div class="container">
    		 <h1>Central Valley</h1>
                    <hr></hr>
                    <p style="color: white;">The Central Valley (Spanish: Valle Central) is a plateau and a geographic region of central Costa Rica. The land in the valley is a relative plain, despite being surrounded by several mountains and volcanos.With endless options for recreation, there are countless reasons everyone wants to travel to San Jose and stay in one of their exclusive hotels.</p>
  <div class="col-xs-12 col-md-2">
  </div>
  <div class="col-xs-12 col-md-2">
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="thumbnail">
      <%= image_tag("marlogo.jpg", width: '370') %>
      <div class="caption">
              <a href="#marriott" class="btn btn-danger">
  Read More
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-12 col-md-2">
    <div class="thumbnail">
      <%= image_tag("interlogo.jpg", width: '370') %>
      <div class="caption">
        <a href="#inter" class="btn btn-danger">
  Read More
</a>
      </div>
    </div>
  </div>
   <div class="col-xs-12 col-md-2">
  </div>
    <div class="col-xs-12 col-md-2">
  </div>
</div>   
    </section>

    <!-- Marriott Section -->
    <section id="marriott" class="marriott-section">
      <div class="container">
         <h7>Costa Rica Marriott</h7>
                    <hr></hr>
                   <div class="col-xs-12 col-md-4">
                    <%= image_tag("marlogo.jpg", :alt => "Brand", :width => 240) %><br>
     <p><br>Voted by Condé Nast as one of the best hotels in Central America, the Costa Rica Marriott Hotel San Jose is a beautiful colonial hacienda set on a 30-acre coffee plantation. The hotel also offers a variety of acclaimed restaurants serving a variety of Latin American cuisine as well as delicious Costa Rican coffee and handcrafted cocktails. Adventure-seekers will enjoy the hotel's proximity to rainforest excursions and canopy zip line tours.
</p>
  </div>
   <div class="col-xs-12 col-md-8">
    <div id="carousel-marriott" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-marriott" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-marriott" data-slide-to="1"></li>
    <li data-target="#carousel-marriott" data-slide-to="2"></li>
     <li data-target="#carousel-marriott" data-slide-to="3"></li>
    <li data-target="#carousel-marriott" data-slide-to="4"></li>
    <li data-target="#carousel-marriott" data-slide-to="5"></li>
    <li data-target="#carousel-marriott" data-slide-to="6"></li>
    <li data-target="#carousel-marriott" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("marriott1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("marriott2.jpg", :alt => "Brand", :width => 700) %>
  </div>
   <div class="item">
     <%= image_tag("marriott3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("marriott4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("marriott5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("marriott6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("marriott7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-marriott" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-marriott" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>
    <!-- Inter Section -->
    <section id="inter" class="inter-section">
      <div class="container">
         <h7>Intercontinental</h7>
                    <hr></hr>
                   <div class="col-xs-12 col-md-4">
                    <%= image_tag("interlogo.jpg", :alt => "Brand", :width => 240) %><br>
     <p><br>Adjacent to the city’s most prestigious shopping mall with 365 stores, bars and restaurants and to Escazu Corporate Centre, Intercontinental  features the hottest concepts in entertainment and dining, including tree outdoor pools in landscaped gardens, the largest urban spa in the region and four unique concept restaurants: The Market, Factory Steak & Lobster, NAU Lounge and Alfredo.
</p>
  </div>
   <div class="col-xs-12 col-md-8">
    <div id="carousel-inter" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-inter" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-inter" data-slide-to="1"></li>
    <li data-target="#carousel-inter" data-slide-to="2"></li>
    <li data-target="#carousel-inter" data-slide-to="4"></li>
    <li data-target="#carousel-inter" data-slide-to="5"></li>
    <li data-target="#carousel-inter" data-slide-to="6"></li>
    <li data-target="#carousel-inter" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("inter1.jpg", :alt => "Brand", :width => 700) %>
    </div>
    <div class="item">
     <%= image_tag("inter2.jpg", :alt => "Brand", :width => 700) %>
  </div>
   <div class="item">
     <%= image_tag("inter3.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("inter4.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("inter5.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("inter6.jpg", :alt => "Brand", :width => 700) %>
  </div>
  <div class="item">
     <%= image_tag("inter7.jpg", :alt => "Brand", :width => 700) %>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-inter" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-inter" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   </div>  
    </section>
     <!-- Contactenos Section -->
    <section id="contactenos" class="contactenos-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Contact Us</h3>
                    <%= image_tag("hr_line.png", class: "line") %><br>
                    <h8>Please tell us how can we help you.</h8>
                </div>
                <div class="row">
  <div class="col-md-4" style="padding-top: 20px;">
<%= image_tag("pin.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">Boulevard Rohrmosser, <br>
Pavas, San José, <br>
Costa Rica</p>

<%= image_tag("mail.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">contactus@globaleventsdmc.com</p>
<%= image_tag("phone.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">Phone: + (506) 2291-8173</p>
  </div>
  <div class="col-md-8">
    <form class="form-inline">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Insert your name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" placeholder="Insert your last name">
  </div>
  <div class="form-group">
    <label for="company">Company</label>
    <input type="text" class="form-control" id="company" placeholder="Company Name">
  </div>
  <div class="form-group">
    <label for="jobtitle">Job Title</label>
    <input type="text" class="form-control" id="position" placeholder="Company title">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="position" placeholder="Phone number">
  </div>
   <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="name" placeholder="E-mail adress">
  </div>
</form>
<form>
 
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="name" placeholder="Message title">
  </div>
   <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form></div>
</div>
            </div>
        </div>
    </section>
    <section>
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe
  width="100%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBASvPxI7KyxyLBM9xQqCdviLlYr9Ep-_g
    &q=9.953818, -84.125569">
</iframe>

</section>
<section class="footer-section">
<a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a></section>



    <!-- Scrolling Nav JavaScript -->
    <script src="javascripts/application.js"></script>
<script>
$(document).ready(function(){
$('.carousel').carousel({
interval: 10000
 });
});
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="javascripts/bootstrap-image-gallery.min.js"></script>
</body>

</html>
