<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Custom CSS -->
    <link href="stylesheet/application.css" rel="stylesheet">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
<script type="text/javascript">
  Shadowbox.init();
</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
                     <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#nosotros">ABOUT US</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#servicios">TESTIMONIALS</a>
                    </li>
                    <li>
                 <a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a>        
                    </li>
                    <li>
                        <a class="page-scroll" href="/#regiones">REGIONS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#eventos">SERVICES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contactenos">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Decoracion Section -->
    <section id="servicios" class="decoration-section">
       <h7>Décor</h7>
                    <hr></hr>
       <div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2 box-md-2"><%= link_to image_tag("thumbnails/image-1.jpg", width: '200'), asset_path('image-1.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-2.jpg", width: '200'), asset_path('image-2.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-3.jpg", width: '200'), asset_path('image-3.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-4.jpg", width: '200'), asset_path('image-4.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-5.jpg", width: '200'), asset_path('image-5.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-6.jpg", width: '200'), asset_path('image-6.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-7.jpg", width: '200'), asset_path('image-7.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-8.jpg", width: '200'), asset_path('image-8.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-9.jpg", width: '200'), asset_path('image-9.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-10.jpg", width: '200'), asset_path('image-10.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-11.jpg", width: '200'), asset_path('image-11.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-12.jpg", width: '200'), asset_path('image-12.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-13.jpg", width: '200'), asset_path('image-13.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-14.jpg", width: '200'), asset_path('image-14.jpg'), rel: 'shadowbox[Decor]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-105.jpg", width: '200'), asset_path('image-105.jpg'), rel: 'shadowbox[Decor]' %></li>
     </ul>
</div>

    </section>
 <!-- Dine Around Section -->
    <section id="servicios" class="dine-section">
       <h1>Dine Around</h1>
                    <hr></hr>
       <div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-14.jpg", width: '200'), asset_path('image-14.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-15.jpg", width: '200'), asset_path('image-15.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-16.jpg", width: '200'), asset_path('image-16.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-17.jpg", width: '200'), asset_path('image-17.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-18.jpg", width: '200'), asset_path('image-18.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-19.jpg", width: '200'), asset_path('image-19.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-20.jpg", width: '200'), asset_path('image-20.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-21.jpg", width: '200'), asset_path('image-21.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-22.jpg", width: '200'), asset_path('image-22.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-23.jpg", width: '200'), asset_path('image-23.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-24.jpg", width: '200'), asset_path('image-24.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-25.jpg", width: '200'), asset_path('image-25.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-26.jpg", width: '200'), asset_path('image-26.jpg'), rel: 'shadowbox[Dine]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-27.jpg", width: '200'), asset_path('image-27.jpg'), rel: 'shadowbox[Dine]' %></li>
           <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-28.jpg", width: '200'), asset_path('image-28.jpg'), rel: 'shadowbox[Dine]' %></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-29.jpg", width: '200'), asset_path('image-29.jpg'), rel: 'shadowbox[Dine]' %></li>
             <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-30.jpg", width: '200'), asset_path('image-30.jpg'), rel: 'shadowbox[Dine]' %></li>
              <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-31.jpg", width: '200'), asset_path('image-31.jpg'), rel: 'shadowbox[Dine]' %></li>
               <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-32.jpg", width: '200'), asset_path('image-32.jpg'), rel: 'shadowbox[Dine]' %></li>
               <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-106.jpg", width: '200'), asset_path('image-106.jpg'), rel: 'shadowbox[Dine]' %></li>

     </ul>
</div>
    </section>
     <!-- Entertainment Section -->
    <section id="servicios" class="decoration-section">
       <h7>Entertainment</h7>
                    <hr></hr>
       <div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-33.jpg", width: '200'), asset_path('image-33.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-34.jpg", width: '200'), asset_path('image-34.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-35.jpg", width: '200'), asset_path('image-35.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-36.jpg", width: '200'), asset_path('image-36.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-37.jpg", width: '200'), asset_path('image-37.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-38.jpg", width: '200'), asset_path('image-38.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-39.jpg", width: '200'), asset_path('image-39.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-40.jpg", width: '200'), asset_path('image-40.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-41.jpg", width: '200'), asset_path('image-41.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-42.jpg", width: '200'), asset_path('image-42.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-43.jpg", width: '200'), asset_path('image-43.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-44.jpg", width: '200'), asset_path('image-44.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-45.jpg", width: '200'), asset_path('image-45.jpg'), rel: 'shadowbox[Entertainment]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-46.jpg", width: '200'), asset_path('image-46.jpg'), rel: 'shadowbox[Entertainment]' %></li>
     </ul>
</div>
    </section>
 <!-- Giveaways Section -->
    <section id="servicios" class="dine-section">
       <h1>Giveaways</h1>
                    <hr></hr>
       <div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-47.jpg", width: '200'), asset_path('image-47.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-48.jpg", width: '200'), asset_path('image-48.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-49.jpg", width: '200'), asset_path('image-49.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-50.jpg", width: '200'), asset_path('image-50.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-51.jpg", width: '200'), asset_path('image-51.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-52.jpg", width: '200'), asset_path('image-52.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-53.jpg", width: '200'), asset_path('image-53.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-54.jpg", width: '200'), asset_path('image-54.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-55.jpg", width: '200'), asset_path('image-55.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-56.jpg", width: '200'), asset_path('image-56.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-57.jpg", width: '200'), asset_path('image-57.jpg'), rel: 'shadowbox[Giveaways]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-58.jpg", width: '200'), asset_path('image-58.jpg'), rel: 'shadowbox[Giveaways]' %></li>
     </ul>
</div>
    </section>
     <!-- Meet and Greet Section -->
    <section id="servicios" class="decoration-section">
       <h7>Meet and Greet</h7>
                    <hr></hr>
       <div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-59.jpg", width: '200'), asset_path('image-59.jpg'), rel: 'shadowbox[Meet]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-62.jpg", width: '200'), asset_path('image-62.jpg'), rel: 'shadowbox[Meet]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-61.jpg", width: '200'), asset_path('image-61.jpg'), rel: 'shadowbox[Meet]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-60.jpg", width: '200'), asset_path('image-60.jpg'), rel: 'shadowbox[Meet]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-63.jpg", width: '200'), asset_path('image-63.jpg'), rel: 'shadowbox[Meet]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-64.jpg", width: '200'), asset_path('image-64.jpg'), rel: 'shadowbox[Meet]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-65.jpg", width: '200'), asset_path('image-65.jpg'), rel: 'shadowbox[Meet]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-66.jpg", width: '200'), asset_path('image-66.jpg'), rel: 'shadowbox[Meet]' %></li>
     </ul>
</div>
    </section>
 <!-- Outreach Section -->
    <section id="servicios" class="dine-section">
       <h1>Community Outreach Programs</h1>
                    <hr></hr>
       <div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-67.jpg", width: '200'), asset_path('image-67.jpg'), rel: 'shadowbox[Outreach]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-68.jpg", width: '200'), asset_path('image-68.jpg'), rel: 'shadowbox[Outreach]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-69.jpg", width: '200'), asset_path('image-69.jpg'), rel: 'shadowbox[Outreach]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-70.jpg", width: '200'), asset_path('image-70.jpg'), rel: 'shadowbox[Outreach]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-71.jpg", width: '200'), asset_path('image-71.jpg'), rel: 'shadowbox[Outreach]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-72.jpg", width: '200'), asset_path('image-72.jpg'), rel: 'shadowbox[Outreach]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-73.jpg", width: '200'), asset_path('image-73.jpg'), rel: 'shadowbox[Outreach]' %></li>
     </ul>
</div>
    </section>
     <!-- Team Building Section -->
    <section id="servicios" class="decoration-section">
       <h7>Team Building</h7>
                    <hr></hr>
       <div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-74.jpg", width: '200'), asset_path('image-74.jpg'), rel: 'shadowbox[Team]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-75.jpg", width: '200'), asset_path('image-75.jpg'), rel: 'shadowbox[Team]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-76.jpg", width: '200'), asset_path('image-76.jpg'), rel: 'shadowbox[Team]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-77.jpg", width: '200'), asset_path('image-77.jpg'), rel: 'shadowbox[Team]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-78.jpg", width: '200'), asset_path('image-78.jpg'), rel: 'shadowbox[Team]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-79.jpg", width: '200'), asset_path('image-79.jpg'), rel: 'shadowbox[Team]' %></li>
     </ul>
</div>
    </section>
     <!-- Tours Section -->
    <section id="servicios" class="dine-section">
       <h1>Tours</h1>
                    <hr></hr>
        <div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-80.jpg", width: '200'), asset_path('image-80.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-81.jpg", width: '200'), asset_path('image-81.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-82.jpg", width: '200'), asset_path('image-82.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-83.jpg", width: '200'), asset_path('image-83.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-84.jpg", width: '200'), asset_path('image-84.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-86.jpg", width: '200'), asset_path('image-86.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-87.jpg", width: '200'), asset_path('image-87.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-89.jpg", width: '200'), asset_path('image-89.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-90.jpg", width: '200'), asset_path('image-90.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-91.jpg", width: '200'), asset_path('image-91.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-92.jpg", width: '200'), asset_path('image-92.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-93.jpg", width: '200'), asset_path('image-93.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-94.jpg", width: '200'), asset_path('image-94.jpg'), rel: 'shadowbox[Tours]' %></li>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 box-md-2"><%= link_to image_tag("thumbnails/image-96.jpg", width: '200'), asset_path('image-96.jpg'), rel: 'shadowbox[Tours]' %></li>
     </ul>
</div>
    </section>
     <!-- Contactenos Section -->
    <section id="contactenos" class="contactenos-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Contact Us</h3>
                    <%= image_tag("hr_line.png", class: "line") %><br>
                    <h8>Please tell us how can we help you.</h8>
                </div>
                <div class="row">
  <div class="col-md-4" style="padding-top: 20px;">
<%= image_tag("pin.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">Boulevard Rohrmosser, <br>
Pavas, San José, <br>
Costa Rica</p>

<%= image_tag("mail.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">contactus@globaleventsdmc.com</p>
<%= image_tag("phone.svg", width: '20px', :style => "margin-left:40%;") %><p style="text-align: left; margin-left: 50%;">Phone: + (506) 2291-8173</p>
  </div>
  <div class="col-md-8">
    <form class="form-inline">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Insert your name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" placeholder="Insert your last name">
  </div>
  <div class="form-group">
    <label for="company">Company</label>
    <input type="text" class="form-control" id="company" placeholder="Company Name">
  </div>
  <div class="form-group">
    <label for="jobtitle">Job Title</label>
    <input type="text" class="form-control" id="position" placeholder="Company title">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="position" placeholder="Phone number">
  </div>
   <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="name" placeholder="E-mail adress">
  </div>
</form>
<form>
 
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="name" placeholder="Message title">
  </div>
   <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form></div>
</div>
            </div>
        </div>
    </section>
    <section>
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe
  width="100%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBASvPxI7KyxyLBM9xQqCdviLlYr9Ep-_g
    &q=9.953818, -84.125569">
</iframe>

</section>
<section class="footer-section">
<a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a></section>



    <!-- Scrolling Nav JavaScript -->
    <script src="javascripts/application.js"></script>
<script>
$(document).ready(function(){
$('.carousel').carousel({
interval: 10000
 });
});
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="javascripts/bootstrap-image-gallery.min.js"></script>
</body>

</html>
