<div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3><%= t('contact_us_h1') %></h3>
                    <%= image_tag("hr_line.png", class: "line") %><br>
                    <h8><%= t('contact_us_h2') %></h8>
                </div>
                <div class="row">
  <div class="col-xs-4" style="padding-top: 20px;">
<%= image_tag("pin.svg", width: '20px', :style => "margin-left:20%;") %><p style="text-align: left; margin-left: 30%;">Boulevard Rohrmosser, <br>
Pavas, San José, <br>
Costa Rica</p>

<%= image_tag("mail.svg", width: '20px', :style => "margin-left:20%;") %><p style="text-align: left; margin-left: 30%;">contactus@globaleventsdmc.com</p>
<%= image_tag("phone.svg", width: '20px', :style => "margin-left:20%;") %><p style="text-align: left; margin-left: 30%;"><%= t('phone') %>: + (506) 2290-0731</p>

  </div>
  <div class="col-xs-8">
    <%= simple_form_for(Contact.new , :html => {:class => 'form-inline' }) do |f| %>
     <div class="col-xs-3  col-xs-offset-1">
      <div class="form-group">
    <%= f.input :name, :required => true %>
    </div>
    <div class="form-group">
    <%= f.input :lastName, :required => true %>
    </div>
    <div class="form-group">
    <%= f.input :company, :required => true %>
</div>
</div>
    <div class="col-xs-3  col-xs-offset-1">
    <div class="form-group">
    <%= f.input :jobtitle, :required => true %>
    </div>
    <div class="form-group">
    <%= f.input :phone, :required => true %>
    </div>
    <div class="form-group">
    <%= f.input :email, :required => true %>
    </div>
    </div>
</div>
     <div class="form-group col-xs-7 pull-right" style="margin-right:15px;">
    <div class="form-group">
    <%= f.input :message, :as => :text, :required => true, style: 'width:250px'%>
    </div>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>

    </div>
    <%= f.button :submit, t('send'), :class=> "btn btn-primary",  style: 'margin-top:18px;' %>
    </div>
<div> 
    </div><br>

<% end %>
</div>
</div>
            </div>
        </div>
        