<!DOCTYPE html>
<html>
<head>
  <title>Global Events DMC | Event company in Costa Rica, leaders in incentive travel, conventions and meetings in Costa Rica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="event management, event company" />
  <meta name="description" content="Global Events DMC | Event company in Costa Rica, leaders in incentive travel, conventions and meetings in Costa Rica. 25 years experience in event management, we cover Central America, Mexico and Dominican Republic" />
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<%= yield %>

     <!-- Contactenos Section -->
    <section id="contactenos" class="contactenos-section">
        <%= render 'contacts/form', contact: @contact%>
    </section>


    <section>
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe
  width="100%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBASvPxI7KyxyLBM9xQqCdviLlYr9Ep-_g
    &q=9.953818, -84.125569">
</iframe>

</section>
<section class="footer-section">
  
<div>
  <a><%= image_tag("logo.svg", :alt => "Brand", :width => 120) %></a><div>

</section>
</body>
</html>
